/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
    margin:0%;

    svg {
        width: 800px;
        height: 390px;

      }
      svg:hover {
        fill: red;
      }
      #rom1,#rom2,#rom3,#rom4,#rom5,#rom6,#rom7,#rom8,#rom9,#rom10,#rom11,#rom12
      {
        display:inline; fill:e5e5e5; fill-opacity:1; stroke:000000; stroke-width:2; stroke-opacity:1
      }
      /*
      #rom1:hover,#rom2:hover,#rom3:hover,#rom4:hover,#rom5:hover,#rom6:hover,#rom7:hover,#rom8:hover,#rom9:hover,#rom10:hover,#rom11:hover,#rom12:hover {
        fill: red;
      } */     
}